<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
 <% if current_user %>        	
            <p class="navbar-text pull-right">
              Logged in as <a href="/u/<%= current_user.name %>" class="navbar-link"><%= current_user.name %></a>
              &nbsp;&nbsp;&nbsp;
              <a href="/signout" class="navbar-link">Sign out</a>
              &nbsp;&nbsp;&nbsp;
            </p>
    <% else %>
			<a class="brand" href="/">&nbsp;<i class="icon-arrow-left"></i>&nbsp;Get Your Own</a>	

            <p class="navbar-text pull-right">
              <a id="show_signin" class="navbar-link">Sign in</a>
              &nbsp;&nbsp;&nbsp;              
            </p>
    <% end %>
    <div id="signin_form">
	<%= form_for(:static_pages, url: '/signin') do %>
	  <%= text_field_tag(:name, nil, :required => true) %>
      <%= submit_tag "Submit", class: "btn" %>
    <% end %>
	</div>
  </div>
</div>
